/*-----------------------------------*\
	Toast
	A Simple CSS Framework
	=================================
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

	.container {
		/* Whatever you want. They’re your oats. */
		max-width: 800px;
		margin: 0 auto;
		padding: 0 30px;
		padding: 0 1.5rem;
		
	}

	.grid {
		margin-left: 0;
		max-width: none;
		margin-bottom: 3%;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
		margin-bottom: 20px;
	}
		
	.clear { clear: both; }
	
	.center { text-align: center; }

/*-----------------------------------*\
	$TYPE

	Works off the assumption of a 1.5
	line height @ 20px. Again, change
	as necessary.
\*-----------------------------------*/
	
	p {
		margin-bottom: 1.25em;
		line-height: 1.5em;
		font-size: 0.9em;
		}
		
	h1 {
		font-size: 3em;
		line-height: 1;
		}
		
	h2 {
		font-weight: 700;
		margin-bottom: 12px;
		font-size: 2.1em;
		}			

	h3 {
		font-weight: 700;
		font-size: 1.5em;
		margin-bottom: 16px;
		}			
		
	hr {
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.1);
		margin-top: -1px;
	}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
	color: #ddf;
	overflow-y: scroll;
}

h1, h2, h3 {
	font-family: 'Noto Serif', serif;
	font-style: italic;
}

a {
	color: #fff;
}

a:visited {
	color: #fff;
}

span {
	font-style: italic;
}

li {
	font-size: 0.75em;
}

h3 {
	padding-left: 2em;
}

/*-----------------------------------*\
	$BACKGROUND
\*-----------------------------------*/

#backgroundFilter {
	background-color: #1a3d5c;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: -1;
}

#backgroundImages {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -2;
}

#backgroundImages span {
	width: 12%;
	height: 100%;
	display:inline-block;
	background-attachment: fixed;
	background-size: cover;
	transition: width 0.6s;
}

#backgroundImages .active {
	width: 76%;
}

#aboutBg {
	background-image: url("../img/aboutBg.jpg");
}

#homeBg {
	background-image: url("../img/homeBg.jpg");
}

#evalBg {
	background-image: url("../img/evalBg.jpg");
	background-position: right top, 0px 0px;
}


/* FUNCTIONAL CLASSES */

.activeLink {
	background-color: #D3356D !important;
}

.activeUnit {
	background-color: #D3356D !important;
}

.circlePicture {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	width: 175px;

}

.frame-link {
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

.hidden {
	display: none;
}

.left {
	float: left;
	margin-left: 15px;
	margin-right: 25px;
}

.right {
	float: right;
	margin-left: 25px;
	margin-right: 15px;
}

/* TOP NAV */

header {
	background-color: #153047;
	z-index: 1000;
	position: fixed;
	top: 0;
	height: 6em;
	width: 100%;
}

#top-nav {
	margin-top: 2em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	color: #ddd;
}

#top-nav img {
	height: 5em;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -0.6em;
}

#top-nav div {
	overflow: visible;
	background-color: #222;
	height: 100%;

	border-radius:3px;

	-webkit-transition: background 0.25s ease-in-out;
	-moz-transition: background 0.25s ease-in-out;
	-ms-transition: background 0.25s ease-in-out;
	-o-transition: background 0.25s ease-in-out;
	transition: background 0.25s ease-in-out;
}

#top-nav div:hover {
	cursor: pointer;
	background-color: #D3356D;
/*	background-color: #a03; */
}
#top-nav div:active {
	background-color: #fff;
}


/* LANDING & CONTENT */

#content {
	background-color: transparent;
	z-index: 2;
	margin-left: 4px;
	padding-top: 6.5em;
	min-height: 400px;

	border-top: 2px solid #fff;
}

#content div {
	overflow: auto;
}

#welcome {
	text-align: center;
}

#welcome img {
	-webkit-border-radius: 3em;
	-moz-border-radius: 3em;
	border-radius: 3em;
}

#welcome ul {
}

#welcome ul li {
	display: inline-block;
	padding: 0 15px;
}

/* EVALUABLE TAB */

.code-header {
	text-align: right;
}

.code-header h4 {
	float: left;
}

#eval-intro {
	margin-bottom: 1.5em;
}

#evaluable ul {
	margin-bottom: 0em;
	padding-bottom: 0em;
	display: inline-block;
}

#evaluable li {
	display: inline;
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	padding: 4px;
	margin-right: 4px;
}


#evaluable li, h3 {
	cursor: pointer;
	background-color: #222;
	border-radius:3px;

	-webkit-transition: background 0.25s ease-in-out;
	-moz-transition: background 0.25s ease-in-out;
	-ms-transition: background 0.25s ease-in-out;
	-o-transition: background 0.25s ease-in-out;
	transition: background 0.25s ease-in-out;
}

#evaluable li:hover, h3:hover {
	cursor: pointer;
	background-color: #a03; 
}

#evaluable li:active, h3:active {
	background-color: #fff;
}

#evaluable iframe {
	width: 100%;
	height: 12em;
	margin-bottom: 0.75em;
}

#web-ex img {
	width: 100%;
}


#web-preview-container div.activeLink {
	border: 2px solid #fff;
	border-radius: 0.5em;
}

#web-preview-container {
	margin-bottom: 0;
}

#web-preview-container div {
	cursor: pointer;
	background-color: #222;
	border: 2px solid #222;
	border-radius: 0.5em;
}


/*-----------------------------------*\
	$DESKTOP OVERRIDES
\*-----------------------------------*/
	@media screen and (min-width: 650px) {

		.grid {
			margin-left: -3%;
			max-width: 105%;
		}
		
		.unit {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			vertical-align: top;
			margin-left: 3%;
			margin-right: -.25em;
			/* Clearfix */
			overflow: hidden;
			*overflow: visible;
		}
		
			.unit.demo {
				background-color: #fff8eb;
				height: 48px;
				height: 3rem;
				margin-bottom: 24px;
				margin-bottom: 1.5rem;
			}
		
		.span-grid {
			width: 97%;
		}
		
		.one-of-two { width: 47%; }
		
		.one-of-three { width: 30.36%; }
		.two-of-three { width: 63.666666666%; }
		
		.one-of-four { width: 22.05%; }
		.three-of-four { width: 72%; }
		
		.one-of-five { width: 17.07%; }
		.two-of-five { width: 37%; }
		.three-of-five { width: 57%; }
		.four-of-five { width: 77%; }

	}

	@media screen and (max-width: 640px) {
		.mobile-no {
		/*	display: none !important; */
		}
	}
	
